@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Playfair+Display:wght@400;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--first-blue: #D2CFC8;
	--second-blue: #092439;
	--third-blue: #07315D;
	--fourty-blue: #00D2FE;
  --white: #fff;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  letter-spacing: 2px;
  background: #0c0c1a;
  position: relative;
}

main {
  max-width: 600px;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

.logo {
  width: 280px;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.title {
  background-color: var(--second-blue);
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 4rem;
}

.title h1 {
  font-size: 1.4rem;
}

p {
  background-color: var(--second-blue);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

a .btn {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1.5rem;
  border-radius: 10px;
  background-color: var(--second-blue);
  box-shadow:
  6px 6px 4px var(--third-blue);
}

.icon {
  margin-right: .8rem;
  font-size: 1.7rem;
}

li:hover .icon {
  animation: shake 0.5s ease-in-out;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem;
}

.footer-icons {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-footer {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  color: var(--white);
}

.btn:hover,
.icon-footer:hover {
  transform: scale(0.98);
}

.stars {
  position: absolute;
  width: 100%;
  height: 80%;
  background: transparent;
  overflow: hidden;
}

/* Generate multiple stars with box-shadow */
.stars:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  box-shadow: 
    200px 500px white, 400px 600px white, 600px 800px white,
    100px 700px white, 900px 100px white, 1100px 300px white,
    1200px 600px white, 1300px 700px white, 400px 200px white,
    600px 400px white, 500px 900px white, 300px 300px white,
    250px 1000px white, 800px 400px white, 50px 450px white,
    550px 650px white, 750px 550px white, 950px 850px white,
    850px 300px white, 1050px 200px white, 1250px 500px white,
    1450px 800px white, 300px 200px white, 1600px 600px white,
    1800px 400px white, 2000px 700px white, 2200px 100px white;
  animation: twinkle 1s infinite alternate;
}

/* Twinkle effect */
@keyframes twinkle {
  0% { opacity: 0.1; }
  100% { opacity: 1; }
}

@media screen and (max-width: 350px){
  .logo {
    width: 180px;
  }
}